.expense-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 20px;
  max-width: 90%;
  padding: 40px;
  background: #f9f9f982;
  border-radius: 12px;
}

/* ---------- TOP ---------- */
.top {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
}

.category-input {
  flex: 1;
}

.top button {
  width: 80px;
}

/* ---------- BOTTOM ---------- */
.bottom {
  display: flex;
  gap: 10px;
  align-items: stretch; /* critical */
}

/* LEFT */
.bottom-left {
  flex: 2;
}

.details-input {
  width: 100%;
  height: 100%;
  resize: none;       /* optional */
  border-radius: 5px;
}

/* RIGHT */
.bottom-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cost-input,
.bottom-right input[type="date"],
.category-input,
.details-input {
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.add-button {
  border-radius: 5px;
  border-style: none;
  padding: 5px;
  font-size: 14px;
  color: white;
  background-color: #60534b;
  cursor: pointer;
  transition: all 0.3s;
}
.add-button:hover {
  background-color: #7d6b60;
  transition: all 0.3s;
}
.add-button:active {
  background-color: #55483f;
  transition: all 0.3s;
}