.header {
  position: fixed;        /* fixed to viewport */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 0 16px;

  background-color: white;
  color: #423632;
}

/* LEFT SIDE */
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* HAMBURGER */
.hamburger-wrapper {
  position: relative;
}

.hamburger-logo {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

/* DROPDOWN MENU */
.hamburger-menu {
  position: absolute;
  top: 100%;
  left: 0;

  background-color: white;
  color: #423632;

  padding: 8px 0;
  min-width: 140px;

  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  border-color: #423632;
  display: none;
}

/* simple hover open (you can switch to JS later) */
.show-hamburger-menu {
  display: block;
}

.hamburger-menu div {
  padding: 8px 16px;
  cursor: pointer;
}

.hamburger-menu div:hover {
  background-color: rgba(72, 72, 72, 0.056);
  
}

/* LOGO */
.header-logo {
  height: 32px;
  width: auto;
}

.hamburger-item {
  display: block;
  padding: 8px 16px;
  cursor: pointer;

  color: #423632;
  text-decoration: none;

  transition: all 0.3s;
}

.hamburger-item:hover {
  background-color: rgba(72, 72, 72, 0.056);

  transition: all 0.3s;
}

/* RIGHT SIDE */
.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header-right a {
  color: #423632;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.link:hover {
  color: #665550;
  transition: all 0.3s;
}

.link:active {
  color: #372c29;
  transition: all 0.3s;
}
.clear-data:hover {
  color: rgba(188, 37, 37, 0.905);
  transition: all 0.3s;
}