.canvas {
  width: 80%;
  margin: 100px auto 20px;
  padding: 0 40px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

/* LINE CHART WRAPPER */
.line-container {
  height: 280px;
}

/* PIE CHART WRAPPER */
.pie-container {
  height: 280px;
}

/* Canvas must fill parent */
.chart-canvas {
  width: 100% !important;
  height: 100% !important;
}
